nav{
	height: 75px;
	width: 102%;
	background-color: #24292e;
	margin-top: -17px;
	margin-left: -8px;
	
}
nav img{
    height: 54px;
    width: 62px;
    margin-left: 67px;
    border-radius: 55%;
    margin-top: -17px;
    transition: 0.5s;
}
nav img:hover{
    height: 100px;
    width: 100px;
}
nav ul{
	list-style: none;
	display: flex;
	color: white;
	/*margin-top: 7px;*/	
}
nav li{
	    margin-top: 28px;
    margin-left: 25px;
        font-size: 20px;
}
nav input{
	width: 233px;
    height: 23px;
    margin-top: -10px;
    margin-left: 185px;
        font-size: 20px;
}
#a{
	border: solid 1px;
    margin-top: 28px;
    margin-bottom: 11px;
}
.row{
    background-color:#2b3137;
    height: 785px;
    width: 102%;	
    margin-left: -8px;
    font-style: bold;
    display: flex;	
}
body{
	background-color:white /*#2b3137*/;
}
#b{
	height: 222px;
    width: 414px;
    margin-left: 266px;
    margin-top: 110px;
}
#c{
    height: 75px;
    width: 408px;
    margin-left: 109px;
    margin-top: 162px;
    font-size: 25px;
    color: white;
}
#d{
	height: 41px;
    width: 346px;
    margin-left: 25px;
    border-radius: 7px;
    margin-bottom: -10px;
}
#f{
    color: white;
}
.g{
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-flow: row;
}
.h{
    width: 726px;
    margin-left: 233px;
    font-size: 20px;
    color: #731400 ;
    margin-left: 687px;
    margin-top: -278px;
}
#i{
    color: white ;
}
#j{
    color: #D7401F;
    margin-left: 25px;
}
.i{
    color: white;
    list-style: none;
}
#dd{
    background-color: #2B2C26;
    margin-left: -9px;
}
.j{
    margin-left: 25px;
    padding-top: 25px;
}
#k{
    color: white;
}
#l{
    color:white;
}
#cc{
   /* background-color: #538B91;*/
   background-image: url('6.jpg');
   background-size: cover;
    margin-left: -9px;
}
.m{
   height: 1000px;
    width: 712px;
    margin-left: 230px;
}
#m{
    height: 150px;
    width: 150px;
    border-radius: 20%;
}